*{
    box-sizing: border-box;
}
.hide{
    display: none;
}
.popup-wrapper{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.popup-container{
    position: fixed;
    z-index: 99;
    top: 30%;
    left: 35%;
    padding: 15px;
    background-color: white;
}
.popup-form{
    display: inline-block;
    position: relative;
}
.popup-form input,
.popup-form label,
.popup-form textarea{
    display: block;
}
.popup-form .button-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
